HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Bootstrap - Arquivos não utilizados ###
# Excluir arquivos CSS não utilizados (mantendo apenas bootstrap.min.css)
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap.css
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap.css.map
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap.rtl.css
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap.rtl.css.map
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap.rtl.min.css
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap.rtl.min.css.map
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap-grid.*
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap-reboot.*
src/main/resources/static/bootstrap-5.2.2-dist/css/bootstrap-utilities.*

# Excluir arquivos JS não utilizados (mantendo apenas bootstrap.min.js)
src/main/resources/static/bootstrap-5.2.2-dist/js/bootstrap.js
src/main/resources/static/bootstrap-5.2.2-dist/js/bootstrap.js.map
src/main/resources/static/bootstrap-5.2.2-dist/js/bootstrap.bundle.*
src/main/resources/static/bootstrap-5.2.2-dist/js/bootstrap.esm.*
